<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppointments</display-name>
    <servlet-name>ViewAppointments</servlet-name>
    <servlet-class>ViewAppointments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointments</servlet-name>
    <url-pattern>/ViewAppointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppointmentsServlet</display-name>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <servlet-class>ViewAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <url-pattern>/ViewAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAppointmentServlet</display-name>
    <servlet-name>AddAppointmentServlet</servlet-name>
    <servlet-class>AddAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAppointmentServlet</servlet-name>
    <url-pattern>/AddAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointmentServlet</display-name>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <servlet-class>UpdateAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <url-pattern>/UpdateAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointmentServlet</display-name>
    <servlet-name>DeleteAppointmentServlet</servlet-name>
    <servlet-class>DeleteAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentServlet</servlet-name>
    <url-pattern>/DeleteAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatientReportServlet</display-name>
    <servlet-name>ViewPatientReportServlet</servlet-name>
    <servlet-class>ViewPatientReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientReportServlet</servlet-name>
    <url-pattern>/ViewPatientReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReportServlet</display-name>
    <servlet-name>AddReportServlet</servlet-name>
    <servlet-class>AddReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReportServlet</servlet-name>
    <url-pattern>/AddReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReportServlet</display-name>
    <servlet-name>UpdateReportServlet</servlet-name>
    <servlet-class>UpdateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReportServlet</servlet-name>
    <url-pattern>/UpdateReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReportServlet</display-name>
    <servlet-name>DeleteReportServlet</servlet-name>
    <servlet-class>DeleteReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReportServlet</servlet-name>
    <url-pattern>/DeleteReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllReportsServlet</display-name>
    <servlet-name>ViewAllReportsServlet</servlet-name>
    <servlet-class>ViewAllReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllReportsServlet</servlet-name>
    <url-pattern>/ViewAllReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAppointmentsServlet</display-name>
    <servlet-name>ViewAllAppointmentsServlet</servlet-name>
    <servlet-class>ViewAllAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAppointmentsServlet</servlet-name>
    <url-pattern>/ViewAllAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientDetailsServlet</display-name>
    <servlet-name>PatientDetailsServlet</servlet-name>
    <servlet-class>PatientDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientDetailsServlet</servlet-name>
    <url-pattern>/PatientDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPatientRecordServlet</display-name>
    <servlet-name>InsertPatientRecordServlet</servlet-name>
    <servlet-class>InsertPatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPatientRecordServlet</servlet-name>
    <url-pattern>/InsertPatientRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientRecordServlet</display-name>
    <servlet-name>UpdatePatientRecordServlet</servlet-name>
    <servlet-class>UpdatePatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientRecordServlet</servlet-name>
    <url-pattern>/UpdatePatientRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatientRecordServlet</display-name>
    <servlet-name>DeletePatientRecordServlet</servlet-name>
    <servlet-class>DeletePatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientRecordServlet</servlet-name>
    <url-pattern>/DeletePatientRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatientRecordServlet</display-name>
    <servlet-name>ViewPatientRecordServlet</servlet-name>
    <servlet-class>ViewPatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientRecordServlet</servlet-name>
    <url-pattern>/ViewPatientRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPatientRecordServle</display-name>
    <servlet-name>InsertPatientRecordServle</servlet-name>
    <servlet-class>InsertPatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPatientRecordServle</servlet-name>
    <url-pattern>/InsertPatientRecordServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientRecordServl</display-name>
    <servlet-name>UpdatePatientRecordServl</servlet-name>
    <servlet-class>UpdatePatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientRecordServl</servlet-name>
    <url-pattern>/UpdatePatientRecordServl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatientRecordServle</display-name>
    <servlet-name>ViewPatientRecordServle</servlet-name>
    <servlet-class>ViewPatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientRecordServle</servlet-name>
    <url-pattern>/ViewPatientRecordServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPatientRecordsServlet</display-name>
    <servlet-name>ViewAllPatientRecordsServlet</servlet-name>
    <servlet-class>ViewAllPatientRecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPatientRecordsServlet</servlet-name>
    <url-pattern>/ViewAllPatientRecordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatientRecordServle</display-name>
    <servlet-name>DeletePatientRecordServle</servlet-name>
    <servlet-class>DeletePatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientRecordServle</servlet-name>
    <url-pattern>/DeletePatientRecordServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPatientRecordServlet</display-name>
    <servlet-name>SearchPatientRecordServlet</servlet-name>
    <servlet-class>SearchPatientRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPatientRecordServlet</servlet-name>
    <url-pattern>/SearchPatientRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeAppointmentServlet</display-name>
    <servlet-name>MakeAppointmentServlet</servlet-name>
    <servlet-class>MakeAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeAppointmentServlet</servlet-name>
    <url-pattern>/MakeAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppointmentsServle</display-name>
    <servlet-name>ViewAppointmentsServle</servlet-name>
    <servlet-class>ViewAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointmentsServle</servlet-name>
    <url-pattern>/ViewAppointmentsServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointmentServle</display-name>
    <servlet-name>UpdateAppointmentServle</servlet-name>
    <servlet-class>UpdateAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointmentServle</servlet-name>
    <url-pattern>/UpdateAppointmentServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointmentServle</display-name>
    <servlet-name>DeleteAppointmentServle</servlet-name>
    <servlet-class>DeleteAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentServle</servlet-name>
    <url-pattern>/DeleteAppointmentServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReportServle</display-name>
    <servlet-name>AddReportServle</servlet-name>
    <servlet-class>AddReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReportServle</servlet-name>
    <url-pattern>/AddReportServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReportServle</display-name>
    <servlet-name>UpdateReportServle</servlet-name>
    <servlet-class>UpdateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReportServle</servlet-name>
    <url-pattern>/UpdateReportServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReportsServlet</display-name>
    <servlet-name>ViewReportsServlet</servlet-name>
    <servlet-class>ViewReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReportsServlet</servlet-name>
    <url-pattern>/ViewReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReportServle</display-name>
    <servlet-name>DeleteReportServle</servlet-name>
    <servlet-class>DeleteReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReportServle</servlet-name>
    <url-pattern>/DeleteReportServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatientReportsServlet</display-name>
    <servlet-name>ViewPatientReportsServlet</servlet-name>
    <servlet-class>ViewPatientReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientReportsServlet</servlet-name>
    <url-pattern>/ViewPatientReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchReportServlet</display-name>
    <servlet-name>SearchReportServlet</servlet-name>
    <servlet-class>SearchReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReportServlet</servlet-name>
    <url-pattern>/SearchReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAvailableDoctorsServlet</display-name>
    <servlet-name>FetchAvailableDoctorsServlet</servlet-name>
    <servlet-class>FetchAvailableDoctorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAvailableDoctorsServlet</servlet-name>
    <url-pattern>/FetchAvailableDoctorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logou</display-name>
    <servlet-name>Logou</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logou</servlet-name>
    <url-pattern>/Logou</url-pattern>
  </servlet-mapping>
</web-app>